.App {
    text-align: center;
}

.circle {
    border-radius: 50%;
    border: 1px grey solid;
    width: 10px;
    height: 10px;
    margin-left: 15px;
    display: inline-block;
}

.green {
    background-color: green;
    border-color: greenyellow;
}

.red {
    background-color: red;
    border-color: tomato;
}

.greenText {
    color: green;
    font-weight: bold;
}

.redText {
    color: red;
    font-weight: bold;
}